{
  "presets": [
    "@babel/preset-typescript", 
    "@babel/preset-env"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@api": "./src/api",
        "@configs": "./src/configs",
        "@utils": "./src/utils"
      }
    }]
  ]
}